@model MvcProject.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>RsvpForm</title>
<link href="http://fonts.googleapis.com/css?family=Norican" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/style33.css")" rel="stylesheet" type="text/css" />
</head>
     <script>
         function goBack() {
             window.history.back()
         }
    </script>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Global  Warming</a>&nbsp;&nbsp;&nbsp;</h1>
		</div>
	</div>
	<!-- end #header -->

	
	<div id="page">

		<div class="post">
			<p></p>
			<p><img src="/Images/ocean_view_hd_widescreen_wallpaper_1280x800.jpeg" width="820" height="275" alt="" /></p>
			<p>
				<strong>Global warming </strong>is the rise in the average temperature of Earth's atmosphere and oceans since the late 19th century and its projected continuation. Since the early 20th century, Earth's mean surface temperature has increased by about 0.8 °C , with about two-thirds of the increase occurring since 1980.Warming of the climate system is unequivocal, and scientists are more than 90% certain that it is primarily caused by increasing concentrations of greenhouse gases produced by human activities such as the burning of fossil fuels and deforestation. 
			 </p>
		</div>
		<div class="post">
			<h2 >Changes</h2>
			<p> 
				Changes in regional climate are expected to include greater warming over land, with most warming at high northern latitudes, and least warming over the Southern Ocean and parts of the North Atlantic Ocean. During the 21st century, glaciersand snow cover are projected to continue their widespread retreat. Projections of declines in Arctic sea ice vary.Recent projections suggest that Arctic summers could be ice-free (defined as ice extent less than 1 million square km) as early as 2025-2030.
			</p>
			<ul class="list">
				<li><a href="#">Ecological systems</a></li>
				<li><a href="#">Food security</a></li>
				<li><a href="#">Ocean levels</a></li>				
			</ul>
		</div>
		<div >
			<h2 >Our efford to prevent global warming</h2>
			<p>
			 You can help to reduce the demand for fossil fuels, which in turn reduces global warming, by using energy more wisely. Here are some simple actions you can take to help reduce global warming.
			  </p>
			<ul class="list">
				<li ><a href="#">Reduce, Reuse, Recyclecurabitur</a></li>
				<li><a href="#">Use Less Heat and Air Conditioning</a></li>
				<li><a href="#">Drive Less and Drive Smart</a></li>
				<li><a href="#">Change a Light Bulb</a></li>
				<li ><a href="#">Plant a Tree </a></li>
			</ul>
            <p class="button-style"><a href='javascript:history.go(-1)'> Go back</a></p>
		</div>
	</div>
	<div id="footer">
		<p></p>
	</div>
	<!-- end #footer -->
</div>
</body>
</html>
